          <style>
            #logo svg,
            #logo svg * {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
              fill: #282828 !important;
              fill: var(--MENU-SECTIONS-BG-color) !important;
              opacity: .945;
            }
            a#logo {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
              font-family: 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
              font-size: 1.875rem;
              font-weight: 300;
              margin-top: -.8125rem;
              max-width: 60%;
              text-transform: uppercase;
              width: 14.125rem;
              white-space: nowrap;
            }
            a#logo:hover {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
            }
            #logo svg {
              margin-bottom: -1.25rem;
              margin-inline-start: -1.47rem;
              width: 40.5%;
            }
            @media only all and (max-width: 60rem) {
              a#logo {
                font-size: 1.5625rem;
                margin-top: -.1875rem;
              }
              #logo svg {
                margin-bottom: -.75rem;
                margin-inline-start: -1.47rem;
              }
            }
            @media all and (-ms-high-contrast:none) {
              {{ "/* IE11s understanding of positioning is weird at best */" | safeCSS }}
              a#logo {
                margin-top: -3.625rem;
              }
              #logo svg {
                margin-bottom: -3.875rem;
                margin-left: -1.47rem;
              }
            }
            @media only all and (-ms-high-contrast:none) and (max-width: 60rem) {
              #logo svg {
                margin-left: -1.47rem;
              }
            }
          </style>
          <a id="logo" href="{{ partial "relLangPrettyUglyURL.hugo" (dict "to" .Site.Home) }}">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 250.000000" preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M1760 1989 c0 -8 -12 -10 -33 -6 -30 5 -35 2 -52 -29 -19 -36 -42 -44 -50 -19 -16 50 -13 49 -52 19 -37 -28 -89 -39 -110 -22 -16 13 -33 1 -33 -23 0 -26 -18 -32 -70 -20 -36 8 -46 7 -55 -6 -7 -9 -19 -14 -28 -10 -9 3 -18 -1 -21 -10 -5 -11 -14 -14 -34 -10 -26 5 -29 3 -40 -40 -8 -29 -19 -47 -31 -50 -11 -3 -22 -14 -24 -25 -5 -16 -12 -20 -36 -16 -26 4 -31 1 -31 -17 0 -24 -65 -105 -84 -105 -16 0 -48 -37 -65 -75 -7 -16 -17 -37 -22 -47 -18 -37 -39 -140 -39 -196 0 -38 7 -76 20 -103 12 -28 20 -66 20 -104 0 -34 5 -66 11 -72 7 -7 15 -34 20 -62 4 -27 24 -83 43 -124 20 -41 36 -82 36 -91 0 -15 9 -52 41 -178 9 -33 14 -38 39 -38 22 0 33 -7 44 -28 8 -16 33 -52 56 -81 32 -40 44 -50 54 -41 15 12 49 3 40 -11 -3 -5 0 -17 5 -26 6 -10 11 -14 11 -10 0 4 10 -4 23 -18 23 -28 32 -27 126 1 22 7 23 5 19 -25 -3 -21 0 -35 7 -38 13 -4 9 -39 -7 -59 -7 -10 -5 -61 4 -69 15 -14 115 -65 161 -83 49 -18 79 -22 177 -22 l118 0 43 38 c25 22 53 62 70 99 16 35 29 65 29 68 0 3 -11 5 -24 5 -30 0 -56 9 -56 20 0 13 -53 90 -61 90 -5 0 -20 12 -34 27 -22 25 -25 26 -25 8 0 -11 4 -27 9 -34 12 -19 -3 -48 -29 -56 -35 -11 -26 -60 21 -115 49 -58 45 -78 -11 -50 -22 11 -46 20 -54 20 -8 0 -20 12 -27 28 -15 34 -55 66 -75 58 -7 -3 -14 -17 -14 -31 0 -34 3 -34 -87 22 -16 10 -30 18 -33 18 -23 4 -50 19 -51 28 0 7 -2 22 -5 35 -2 14 4 31 16 44 11 12 20 16 20 10 0 -7 13 -12 30 -12 17 0 30 1 30 3 0 11 -60 141 -69 150 -14 14 -15 67 -1 67 5 0 17 -12 27 -27 9 -16 18 -29 19 -31 1 -2 11 2 23 10 16 10 23 10 33 0 19 -19 28 -15 43 22 14 33 15 34 70 31 61 -2 72 4 54 34 -15 23 -71 41 -131 41 -28 0 -50 6 -58 15 -7 8 -24 15 -39 15 -44 0 -89 50 -112 126 -11 37 -18 77 -14 91 3 13 1 41 -5 63 -19 72 -15 101 30 194 24 48 52 93 62 100 24 14 22 31 -7 91 -27 54 -32 114 -13 133 7 7 31 12 54 12 23 0 44 5 46 11 2 5 10 11 18 13 8 2 26 7 40 13 14 6 43 16 65 23 22 7 55 19 73 27 36 16 107 6 161 -20 14 -8 62 -31 106 -53 89 -43 114 -72 158 -181 l25 -62 -36 -18 c-28 -14 -37 -24 -37 -43 0 -21 5 -25 33 -26 19 -1 37 -7 42 -14 13 -21 21 5 27 92 5 75 3 91 -26 172 -18 53 -28 98 -25 112 4 17 1 26 -10 30 -41 16 8 98 90 152 17 11 17 12 -3 2 -34 -16 -53 -12 -53 10 0 17 -3 19 -19 10 -46 -24 -66 -11 -62 40 0 10 -1 11 -5 3 -9 -20 -24 -15 -34 10 -8 20 -9 19 -9 -10 -1 -28 -4 -31 -28 -29 -27 3 -28 5 -31 70 -2 57 -5 66 -17 56 -18 -15 -35 -5 -35 20 0 27 -49 39 -65 16 -12 -16 -15 -16 -48 1 -19 10 -50 39 -68 65 -23 32 -41 47 -56 48 -13 0 -23 -5 -23 -11z m-605 -979 c24 -24 1 -28 -29 -5 -11 8 -26 15 -35 15 -21 0 -51 -30 -51 -51 0 -28 17 -32 40 -9 l21 21 26 -21 c14 -11 32 -20 40 -20 22 0 10 -23 -20 -38 -29 -14 -34 -40 -16 -73 10 -20 11 -20 45 6 l35 27 -6 -29 c-5 -27 -5 -27 10 5 8 17 20 32 25 32 6 0 10 11 10 25 0 29 21 33 41 8 10 -11 15 -58 17 -168 3 -128 1 -153 -12 -164 -13 -11 -16 -11 -17 0 -3 26 -6 54 -7 77 -2 19 -5 21 -21 12 -36 -19 -111 25 -156 90 -29 42 -75 171 -75 212 0 18 10 39 26 55 20 20 31 24 57 19 18 -4 41 -15 52 -26z m765 -964 c0 -17 -14 -29 -23 -20 -8 8 3 34 14 34 5 0 9 -6 9 -14z"/>
              <path d="M1812 1230 c-31 -7 -97 -58 -88 -67 2 -3 21 1 43 7 21 7 85 15 143 19 l105 6 -35 23 c-37 23 -101 28 -168 12z"/>
              <path d="M1955 1080 c-3 -5 -25 -7 -48 -4 -33 4 -55 0 -99 -21 -61 -28 -79 -50 -28 -34 17 5 44 13 61 19 41 12 50 6 42 -30 -5 -28 -3 -30 23 -30 19 0 44 13 74 39 39 34 43 40 31 55 -15 18 -46 21 -56 6z"/>
              <path d="M2132 1067 c-23 -24 -29 -61 -12 -72 6 -3 10 -1 10 5 0 6 11 26 25 44 14 18 25 36 25 39 0 15 -28 6 -48 -16z"/>
              <path d="M2205 1044 c-37 -12 -65 -37 -65 -56 0 -13 9 -9 30 12 11 11 29 20 41 20 18 0 20 -4 14 -31 -5 -23 -2 -34 12 -45 16 -14 14 -15 -29 -10 -27 3 -48 2 -48 -3 0 -14 59 -61 78 -61 15 0 20 13 28 78 15 109 8 120 -61 96z"/>
              <path d="M1850 941 c-50 -5 -53 -7 -33 -18 26 -16 68 -17 94 -3 21 12 26 31 7 28 -7 -1 -38 -4 -68 -7z"/>
              <path d="M2018 683 c-21 -9 -38 -19 -38 -24 0 -4 30 -17 68 -29 63 -21 78 -28 135 -65 22 -14 24 -14 36 12 l13 28 -22 -20 c-18 -16 -23 -17 -30 -5 -13 20 -13 77 0 85 18 11 10 20 -17 20 -16 1 -46 4 -68 7 -26 4 -53 1 -77 -9z"/>
              <path d="M2110 509 c-55 -6 -93 -18 -142 -44 -69 -36 -102 -43 -113 -25 -9 15 -41 12 -54 -4 -10 -12 -8 -17 8 -25 11 -6 29 -11 41 -11 37 0 96 -37 109 -68 11 -26 19 -31 67 -37 29 -3 59 -3 66 2 7 4 18 8 23 8 6 0 12 26 15 58 5 50 10 63 37 85 34 30 53 73 31 71 -7 -1 -47 -5 -88 -10z"/>
              <path d="M1640 307 c0 -32 9 -57 22 -57 14 0 5 73 -9 78 -8 2 -13 -6 -13 -21z"/>
              </g>
            </svg>
            Pogsite
          </a>